:root {
    --default-color:#7988FD;
    --hover-color:#5865d9;
    --disabled-color:#949494;
    --input-color:#E8E8E8;
  }
.parent
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 10px;
}

.parent .one{
    border: 2px solid black;
    aspect-ratio: 1/1;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.parent .one.add-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 4px dashed var(--disabled-color);
    color: var(--disabled-color);
    cursor: pointer;
    transition-duration: 0.3s;
}
.parent .one.add-btn:hover
{
    border-color: #707070;
    color:  #707070;

}
.parent .one.add-btn i
{
    font-size: 70px;
}
.parent .one.add-btn h4
{
    font-size: 25px;
    margin: 10px 0 0 0;
}


.parent .one p{
    margin: 0;
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
}
.parent .one p:nth-child(3),
.parent .one p:nth-child(4),
.parent .one p:nth-child(6)
{
    font-weight: 300;
}

.parent .one .btns
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
 
    
}
.parent .one .btns input
{

    gap: 5px;
    font-size: 16px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.3s;
    
}

.parent .one .btns input:nth-child(1)
{
    width: 90%;
    background-color: var(--default-color);
}

.parent .one .btns input:nth-child(2)
{
    width: 45%;
    background-color: red;
}
.parent .one .btns input:nth-child(3)
{
    width: 45%;
    background-color: var(--disabled-color);
}
.parent .one .btns input:nth-child(1):hover
{
    background-color: var(--hover-color);
}
.parent .one .btns input:nth-child(2):hover
{
    background-color: #d11212;
}
.parent .one .btns input:nth-child(3):hover
{
    background-color: #525252;
}