/* Start Header */
.header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border-bottom: 1px solid var(--input-color) ;
}
.header .container {
    background-color: white;
    padding-top: 10px;
    position: relative;
}
.header .up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    height: 40px;
    margin-bottom: 30px;
}

.header .logo {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    font-weight: bold;
}

.header .logo img {
    height: 100%;
}

.header .srch-box {
    display: flex;
    overflow: hidden;
    height: 100%;
}

.header .srch-text {
    position: relative;
    height: 100%;
    width: 300px;
}

.header .srch-text input {
    background-color: var(--input-color);
    padding: 10px 10px 10px 25px;
    border: 1px solid var(--disabled-color);
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 100%;
}

.header .srch-text i {
    position: absolute;
    top: 50%;
    left: 6px;
    transform: translateY(-50%);
    color: #949494;
}

.header .srch-btn {
    position: relative;
    height: 100%;
    cursor: pointer;
}

.header .srch-btn input {
    width: 40px;
    border: 0;
    background-color: var(--default-color);
    height: 100%;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition-duration: 0.2s;
}

.header .srch-btn:hover input {
    background-color: var(--hover-color);
}

.header .srch-btn::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header .menu-btn {
    display: inline-block;
    min-width: 30px;
    height: 30px;
    background-color: var(--default-color);
    border-radius: 5px;
    position: relative;
    margin-right: 20px;
    display: none;
    transition-duration: 0.2s;
    cursor: pointer;
}

.header .menu-btn:hover {
    background-color: var(--hover-color);
}

.header .menu-btn::before {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.header .btns {
    display: flex;
    gap: 5px;
}

.header .btns a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid var(--default-color);
    border-radius: 5px;
    position: relative;
    transition-duration: 0.2s;
}

.header .btns a:hover {
    border-color: var(--hover-color);
}

.header .btns a:hover::before {
    color: var(--hover-color);
}

.header .btns a::before {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--default-color);
}

.header .cart-btn .count {
    position: absolute;
    font-size: 8px;
    color: white;
    background-color: red;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    text-align: center;
    line-height: 12px;
    top: 4px;
    right: 4px;
}

.header .nav-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 500;
}

.header .nav-links>li {
    position: relative;
    padding-bottom: 10px;
}

.header .nav-links li a {
    color: black;
}

.header .cat-link {
    padding-right: 20px;
    position: relative;
    cursor: default;
}

.header .cat-link span::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f078";
    position: absolute;
    right: 0px;
}

.header .cat-link .cat-list.active,
.header .cat-link:hover .cat-list {
    display: block;
}

.header .cat-list {
    display: none;
    position: absolute;
    top: 29px;
    left: -5px;
    background-color: white;
    width: 150px;
    font-size: 13px;
}

.header .cat-list li a {
    display: inline-block;
    width: 100%;
    padding: 10px 10px;
    border-bottom: 2px solid var(--default-color);
    transition-duration: 0.3s;
}

.header .cat-list li a:hover {
    padding-left: 15px;
    color: var(--hover-color);
    border-color: var(--hover-color);
}

@media (max-width: 750px) {
    .header .container {
        padding-bottom: 10px;
    }

    .header .up {
        flex-wrap: wrap;
        min-height: 100px;
        justify-content: space-between;
        align-content: center;
        margin: 0;
    }

    .header .logo {
        height: 50%;
        font-size: 22px;
    }

    .header .srch-box {
        order: 3;
        width: 100%;
        height: 50%;
        margin-top: 10px;
        height: 30px;
    }

    .header .menu-btn {
        display: inline-block;
    }

    .header .down {
        position: absolute;
        width: 50%;
        top: 120px;
        height: calc(100vh - 120px);
        left: -700px;
        background-color: rgb(244, 244, 244);
        transition-duration: 0.3s;
    }

    .header .down.active {
        left: 0;
    }

    .header .nav-links {
        flex-direction: column;
        gap: 20px;
    }

    .header .nav-links>li {
        padding: 0;
    }

    .header .cat-link span,
    .header .nav-links li a {
        display: inline-block;
        padding: 20px 20px 20px 10px;
    }

    .header .cat-link {
        width: 70%;
    }

    .header .cat-link::before {
        top: 50%;
        transform: translateY(-50%);
    }

    .header .cat-link:hover .cat-list {
        display: none;
    }

    .header .cat-link .cat-list.active {
        display: block;
    }

    .header .cat-list {
        position: relative;
        top: 0;
        left: 0;
        width: 143%;
    }

    .header .cat-list li a {
        padding: 15px 10px;
        border: 0;
    }

    .header .cat-list li {
        border-bottom: 1px solid var(--default-color);
        padding-left: 10px;
    }

    .header .cat-list li a::before {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        content: "\f0da";
        position: absolute;
        left: 5px;
        color: var(--default-color);
        font-size: 16px;
    }
}

/* End Header */