:root {
  --default-color:#7988FD;
  --hover-color:#5865d9;
  --disabled-color:#949494;
  --input-color:#E8E8E8;
}
html {
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}
body.poped{
  height: 100vh;
  overflow-y: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input{
  border: none;
}
input:focus{
  outline: none;
}
textarea:focus{
  outline: none;
}
.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
/* Large */
@media (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}




